footer {
    background-color: #343a40;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
}
.footer-right{
    text-align: right;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:not(:last-child) {
    padding-right: 10px;
}
@media only screen and (max-width : 992px) {}